page-ozgecmis-detay {

ion-label{
  color: "primary";
}

// ion-icon.lighter {
// opacity: 0.3;
// }

button.lighter {
opacity: 0.4;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  display: inline-block;
  // text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-image1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  display: inline-block;
  // text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
}
