<meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="When Great Minds Don’t Think Alike" />
<meta property="og:description"        content="How much does culture influence creative thinking?" />
<meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
  <button ion-button icon-only (click)="share()">
    <ion-icon name="share"></ion-icon>
  </button>
</ion-buttons>
    <ion-title>İlan Detayı</ion-title>
  </ion-navbar>

  <div *ngIf="ilan">

  <ion-item text-wrap no-lines class="item">
    <ion-thumbnail item-left>
      <img class="img-circle" [src]="ilan.resim">
    </ion-thumbnail>

    <ion-row>
    <ion-col>
    <h2>{{ilan.baslik}}</h2>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
    <div class="firma"><h4>{{ilan.firma.firma}}</h4></div>
    </ion-col>
    <ion-col>
      <h4 align="right" [class.my-class]="getDays(ilan.olusurmaTarih) < 10">
        <ion-icon name="calendar"></ion-icon>
        {{getDays(ilan.olusurmaTarih)}} gün
      </h4>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-auto>
        <p><ion-icon name="pin"></ion-icon>
          {{ilan.il}}
        </p>
    </ion-col>
    <ion-col>
      <p align="right">
        <span style="float:left;">
        <i *ngIf="checkBasvuru(ilan)">
          <ion-icon name="checkmark-circle"></ion-icon>
        </i>
        <i *ngIf="checkKaydedilen(ilan)">
          <ion-icon name="bookmark"></ion-icon>
        </i>
      </span>
        <ion-icon name="briefcase"></ion-icon>
        {{ilan.tip}}
      </p>
    </ion-col>
    </ion-row>
  </ion-item>

<ion-toolbar>
  <ion-row>
    <ion-col>
  <div *ngIf="!checkBasvuru(ilan)">
  <button ion-button block icon-left color="secondary" (click)="basvur(ilan)">
    <ion-icon name="checkmark-circle"></ion-icon>
    Başvur</button>
  </div>
  <div *ngIf="checkBasvuru(ilan)">
  <button ion-button block icon-left color="secondary" (click)="deleteBasvur(ilan)">
    <ion-icon name="ios-arrow-dropleft"></ion-icon>
    Başvuru İptal</button>
  </div>
  </ion-col>
  <ion-col>
  <div *ngIf="!checkKaydedilen(ilan)">
  <button ion-button block icon-left color="primary" (click)="kaydet(ilan)">
    <ion-icon name="bookmark"></ion-icon>
    Kaydet</button>
  </div>
  <div *ngIf="checkKaydedilen(ilan)">
  <button ion-button block icon-left color="primary" (click)="deleteKaydet(ilan)">
    <ion-icon name="ios-arrow-dropleft"></ion-icon>
    Kayıt İptal</button>
  </div>
  </ion-col>
  </ion-row>
</ion-toolbar>
</div>

</ion-header>

<ion-content>

  <div *ngIf="ilan">

  <ion-card>
  <ion-card-header>
    <b>Açıklama</b>
  </ion-card-header>
  <ion-card-content>
    {{ilan.aciklama}}
  </ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
  <b>Detaylar</b>
</ion-card-header>
<ion-card-content>
  <!-- <ion-list>
    <ion-item> -->
  <p><b>Tecrübe: </b> {{ilan.tecrube}}</p>
    <!-- </ion-item>
    <ion-item> -->
      <p><b>Eğitim: </b> {{ilan.egitim}}</p>
    <!-- </ion-item>
  </ion-list> -->
  <p><b>Askerlik: </b> {{ilan.askerlik}}</p>
  <p><b>Ehliyet: </b> {{ilan.ehliyet}}</p>
  <p><b>İlan Tarihi: </b> {{ilan.olusurmaTarih}}</p>
  <p><b>İlan No: </b> {{ilan.id}}</p>
</ion-card-content>
</ion-card>

</div>
</ion-content>
