page-ozgecmis {
//   .item {
//   background-color: rgb(230, 255, 255);
//   }
.alignme{
text-align: right;
}

.ozgecmis b, .ozgecmis h4 //.ozgecmis ion-icon, .ozgecmis button
{
color: LightGrey;
}

.profile-image1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  display: inline-block;
  // text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

}
