<!--
  Generated template for the Ozgecmis page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Özgeçmişim</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="ozgecmis">

  <ion-card class="item">
    <ion-item text-wrap class="item">
    <ion-thumbnail item-left>
      <img class="profile-image1" [src]="ozgecmis.resim">
    </ion-thumbnail>

    <h1>{{ozgecmis.isim}}</h1>
    <p>{{ozgecmis.unvan}}</p>
    <p>{{getAge()}} yaşında, {{ozgecmis.yilTecrube}} yıl tecrübe</p>
    <!-- <ion-label *ngIf="ozgecmis.enabled" color="primary" >Aktif</ion-label>
    <ion-label *ngIf="!ozgecmis.enabled" color="primary" >Pasif</ion-label> -->
    <!-- <ion-toggle [(ngModel)]="ozgecmis.enabled"></ion-toggle> -->
  </ion-item>
    <ion-item no-margin no-padding>
    <ion-label class="alignme" *ngIf="ozgecmis.enabled" color="primary" >Aktif</ion-label>
    <ion-label class="alignme" *ngIf="!ozgecmis.enabled" color="primary" >Pasif</ion-label>
    <ion-toggle [(ngModel)]="ozgecmis.enabled" checked="ozgecmis.enabled" (ionChange)="checkOzgecmis($event)"></ion-toggle>
  </ion-item>
</ion-card>

<div [class.ozgecmis]="!ozgecmis.enabled">

<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
  <b>Kişisel Bilgiler</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, ozgecmis, 'kisisel', '')">
    <ion-icon name="create"></ion-icon>
    Düzenle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>

  <ion-item text-wrap>
  <ion-grid no-padding>
  <ion-row><ion-col col-5><h4>Doğum Tarihi:</h4></ion-col> <ion-col><h4>{{ozgecmis.dogumTarihi | date:'dd/MM/yyyy'}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>TC Vatandaşı: </h4></ion-col> <ion-col><h4>{{ozgecmis.tc}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Askerlik: </h4></ion-col> <ion-col><h4> {{ozgecmis.askerlik}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Medeni Hal:</h4> </ion-col> <ion-col><h4> {{ozgecmis.medeni}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Ehliyet Cinsi: </h4></ion-col> <ion-col><h4> {{ozgecmis.ehliyet}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Eğitim: </h4></ion-col> <ion-col><h4> {{ozgecmis.egitimdurum | datePipe:'egitimdurum'}}</h4></ion-col> </ion-row>
  <!-- <ion-row><ion-col col-5><h4>Tecrübe: </h4></ion-col> <ion-col><h4> {{ozgecmis.tecrubedurum}}</h4></ion-col> </ion-row> -->
</ion-grid>
</ion-item>

  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
  <b>İletişim Bilgileri</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, ozgecmis, 'iletisim', '')">
    <ion-icon name="create"></ion-icon>
    Düzenle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>
  <ion-item text-wrap>
    <ion-grid no-padding>
  <ion-row><ion-col col-5><h4>Telefon:</h4></ion-col> <ion-col><h4>{{ozgecmis.telefon}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Email:</h4></ion-col> <ion-col><h4>{{ozgecmis.email}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Adres:</h4></ion-col> <ion-col><h4>{{ozgecmis.adres}}</h4></ion-col> </ion-row>
</ion-grid>
</ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
  <b>Tecrübe</b>
</ion-col>
<ion-col>
  <!-- <span ion-text style="float:right;" color="primary"> -->
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, {}, 'tecrubeEkle', ozgecmis.tecrube)">
    <ion-icon name="create"></ion-icon>
    Ekle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
  <!-- </span> -->
</ion-card-header>
<button ion-item *ngFor="let tecrube of (ozgecmis.tecrube | datePipe)" (click)="itemTapped($event, tecrube, 'tecrube', ozgecmis.tecrube)">
<h4><b>{{tecrube.firma}}</b> <span ion-text style="float:right;">{{tecrube.sehir}}</span></h4>
<h4>{{tecrube.pozisyon}}</h4>
<h4 style="white-space: pre-wrap;">{{tecrube.isTanimiKisa}}</h4>
<h4>{{tecrube.giris | date:'MM/yyyy'}} - {{tecrube.cikis | date:'MM/yyyy'}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
  <b>Eğitim</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, {}, 'egitimEkle', ozgecmis.egitim)">
    <ion-icon name="create"></ion-icon>
    Ekle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>
<button ion-item *ngFor="let egitim of (ozgecmis.egitim | datePipe)" (click)="itemTapped($event, egitim, 'egitim', ozgecmis.egitim)">
<h4><b>{{egitim.okul}}</b> <span ion-text style="float:right;">{{egitim.sehir}}</span></h4>
<h4>{{egitim.bolum}}</h4>
<h4>{{egitim.cikis | date:'MM/yyyy'}} - {{egitim.derece | datePipe:'egitimdurum'}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
    <ion-row>
      <ion-col>
  <b>Yabancı Dil</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, {}, 'yabanciDilEkle', ozgecmis.yabanciDil)">
    <ion-icon name="create"></ion-icon>
    Ekle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>
<button no-margin ion-item *ngFor="let yabanciDil of ozgecmis.yabanciDil" (click)="itemTapped($event, yabanciDil, 'yabanciDil', ozgecmis.yabanciDil)">
  <h4><b>{{yabanciDil.dil}} : </b>{{yabanciDil.seviye | datePipe:'seviye'}}</h4>
  <!-- <ion-row><ion-col col-5><h4>{{yabanciDil.dil}} : </h4></ion-col> <ion-col><h4>{{yabanciDil.seviye}}</h4></ion-col> </ion-row> -->

</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
    <ion-row>
      <ion-col>
  <b>Sertifikalar</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button ion-button small  icon-left clear (click)="itemTapped($event, {}, 'sertifikaEkle', ozgecmis.sertifika)">
    <ion-icon name="create"></ion-icon>
    Ekle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>
<button ion-item *ngFor="let sertifika of (ozgecmis.sertifika | datePipe)" (click)="itemTapped($event, sertifika, 'sertifika', ozgecmis.sertifika)">
  <h4><b>{{sertifika.ad}}</b></h4>
  <h4>{{sertifika.kurum}} - {{sertifika.cikis | date:'MM/yyyy'}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
    <ion-row>
      <ion-col>
  <b>Bilgisayar Teknolojileri</b>
</ion-col>
<ion-col>
  <ion-buttons end>
    <button no-margin ion-button small  icon-left clear (click)="itemTapped($event, ozgecmis, 'bilgisayar', '')">
    <ion-icon name="create"></ion-icon>
    Düzenle
  </button>
</ion-buttons>
</ion-col>
  </ion-row>
</ion-card-header>
  <!-- <button ion-button small  icon-left clear (click)="itemTapped($event, ozgecmis, 'bilgisayar')"> -->
  <ion-item no-margin text-wrap>
  <h4>{{ozgecmis.bilgisayar}}</h4>
</ion-item>
<!-- </button> -->
</ion-card>

</div>

</div>
</ion-content>
