page-sonuc {

.firma{
  color: blue;
}

.my-class {
color: red;
}

.spinner-container {
    text-align: center;
    padding: 10px;

}

.item ion-avatar {
  font-size:100px; /* as big size as you want */
}

}
