page-aktivite {
  .firma{
    color: blue;
  }

  .my-class {
  color: red;
  }

  .spinner-container {
      text-align: center;
      padding: 10px;

  }
  ion-avatar {
  img {
    min-width: 60px ;
    min-height: 60px ;
  }
  }
}
