<!--
  Generated template for the Aktivite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Aktivitelerim</ion-title>
  </ion-navbar>
  <ion-toolbar>
  <ion-segment [(ngModel)]="aktivite" color="dark">
    <ion-segment-button value="basvurulan">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Başvurulan
    </ion-segment-button>
    <!-- <ion-segment-button value="goruntulenen">
      <ion-icon name="eye"></ion-icon>
      Görüntülenen
    </ion-segment-button> -->
    <ion-segment-button value="kaydedilen">
      <ion-icon name="bookmark" item-left></ion-icon>
      Kaydedilen
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="aktivite">
    <div  *ngSwitchCase="'basvurulan'">
<div *ngIf="basvurular">
  <ion-list text-wrap>
    <button ion-item *ngFor="let basvuru of basvurular" (click)="itemTapped($event, basvuru)">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      <ion-thumbnail item-left>
        <img class="img-circle" [src]="basvuru?.firma?.resim">
      </ion-thumbnail>

      <ion-row>
      <ion-col>
      <h2>{{basvuru.baslik}}</h2>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
      <div class="firma"><h4>{{basvuru.firmaAdi}}</h4></div>
      </ion-col>
      <ion-col>
        <h4 align="right" [class.my-class]="getDays(basvuru?.olusurmaTarih) < 10">
          <ion-icon name="calendar"></ion-icon>
          {{getDays(basvuru.olusturmaTarih)}} gün
        </h4>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col col-auto>
          <p><ion-icon name="pin"></ion-icon>
            {{basvuru.il}}

          </p>
      </ion-col>
      <ion-col>
        <p align="right">
          <span style="float:left;">
          <i *ngIf="checkBasvuru(basvuru)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </i>
          <i *ngIf="checkKaydet(basvuru)">
            <ion-icon name="bookmark"></ion-icon>
          </i>
        </span>
          <ion-icon name="briefcase"></ion-icon>
          {{basvuru.tip}}
        </p>
      </ion-col>
      </ion-row>

    </button>
  </ion-list>

    <ion-infinite-scroll *ngIf="scrollEnable" (ionInfinite)="doInfinite($event)">

    <ion-infinite-scroll-content
    loadingText="Başvurular yükleniyor...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</div>

<div *ngSwitchCase="'kaydedilen'">
  <div *ngIf="kaydedilenler">

  <ion-list text-wrap>
    <button ion-item *ngFor="let kaydedilen of kaydedilenler" (click)="itemTapped($event, kaydedilen)">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      <ion-thumbnail item-left>
        <img class="img-circle" [src]="kaydedilen?.firma?.resim">
      </ion-thumbnail>

      <ion-row>
      <ion-col>
      <h2>{{kaydedilen.baslik}}</h2>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
      <div class="firma"><h4>{{kaydedilen.firmaAdi}}</h4></div>
      </ion-col>
      <ion-col>
        <h4 align="right" [class.my-class]="getDays(kaydedilen?.olusurmaTarih) < 10">
          <ion-icon name="calendar"></ion-icon>
          {{getDays(kaydedilen.olusturmaTarih)}} gün
        </h4>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col col-auto>
          <p><ion-icon name="pin"></ion-icon>
            {{kaydedilen.il}}

          </p>
      </ion-col>
      <ion-col>
        <p align="right">
          <span style="float:left;">
          <i *ngIf="checkBasvuru(kaydedilen)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </i>
          <i *ngIf="checkKaydet(kaydedilen)">
            <ion-icon name="bookmark"></ion-icon>
          </i>
        </span>
          <ion-icon name="briefcase"></ion-icon>
          {{kaydedilen.tip}}
        </p>
      </ion-col>
      </ion-row>

    </button>
  </ion-list>

  <ion-infinite-scroll *ngIf="scrollEnabl" (ionInfinite)="doInfinit($event)">

  <ion-infinite-scroll-content
  loadingText="Kaydedilenler yükleniyor...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>
</div>
</div>

</ion-content>
